*{
  background-color: #303030;
  color: white;
  font-size: 20px;
}

header{
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  margin: 20px;
}

header h1{
  margin: auto;
  font-size: 40px;
}
main{
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.inputCtr{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 10px 0;
}

.inputCtr input{
  border-style: none;
  border: 1px solid white;
  background-color:cadetblue;
  border-radius: 20px;
  text-align: center;
}